@charset "UTF-8";
body {
	
	@font-face {
	  font-family: 'Roboto-Bold';
	  src: url('../Roboto-Bold.eot') format('embedded-opentype');
	  font: 14px Roboto,arial,sans-serif;
	  background-color: #FFFFFF;
	}
	
	@font-face {
	  font-family: 'Roboto-Regular';
	  src: url('../Roboto-Regular.eot') format('embedded-opentype');
	  font: 14px Roboto,arial,sans-serif;
	  background-color: #FFFFFF;
	}
	
}/* CSS Document */



