@charset "UTF-8";
errortext {
	color: #000000;
	font-family: HelveticaNeue,"Helvetica Neue",HelveticaNeue-Light,"Helvetica Neue Light",Helvetica,Arial,sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}/* CSS Document */

