@charset "UTF-8";

.nav {
    background: none repeat scroll 0 0 #4baac8;
}
.nav a {
    color: black;
    font-style: italic;
}
.nav li a:hover, .nav li a:focus {
    background: none repeat scroll 0 0 #86c5da;
}
.nav .active {
    background: none repeat scroll 0 0 #72bcd4;
    font-weight: bold;
}
.nav .nav {
    display: none;
}
.nav .active .nav {
    display: block;
}
.nav .nav a {
    font-size: 0.85em;
    font-weight: normal;
}
.nav .nav span {
    margin: 0 5px 0 2px;
}
.nav .nav .active a, .nav .nav .active:hover a, .nav .nav .active:focus a {
    border-left: 5px solid black;
    font-weight: bold;
    padding-left: 30px;
}
.nav .nav .active span, .nav .nav .active:hover span, .nav .nav .active:focus span {
    display: none;

}
/* CSS Document */

