<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quisk</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="../../../resources/images/favicon.ico" rel="icon" media="screen" th:href="@{/resources/images/favicon.ico}"/> 
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
<link href="../../../resources/css/sbi-styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/sbi-styles.css}"/>
<link href="../../../resources/css/quisk-styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/quisk-styles.css}"/>
</head>

<body>

    <!-- Navigation -->

        <h2 class="work-queues-head"></h2>
        <div class="panel-group pd-left0" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">Customer Transactions</div>
				<div class="panel-body">
					<div id="demo">
						<div id="example_wrapper" class="dataTables_wrapper no-footer">
							<table cellspacing="0" cellpadding="0" border="0" id="pendingResendWQGridId"
								class="display dataTable no-footer" role="grid"
								aria-describedby="example_info">
								<thead>
									<tr role="row">
										<th class="sorting_asc" tabindex="0" aria-controls="example"
											rowspan="1" style="width: 122px;"
											aria-label="Browser: activate to sort column descending"
											aria-sort="ascending">Bulk Upload Date</th>
										<th class="sorting" tabindex="0" aria-controls="example"
											rowspan="1" style="width: 140px;"
											aria-label="Version: activate to sort column ascending">Number of Accounts to Resend</th>
										<th class="sorting" tabindex="0" aria-controls="example"
											rowspan="1" style="width: 122px;"
											aria-label="Grade: activate to sort column ascending">Last Welcome Sent Date/Time</th>
										<th class="sorting" tabindex="0" aria-controls="example"
											rowspan="1" style="width: 140px;"
											aria-label="Version: activate to sort column ascending"><input type="checkbox" id="select_all" name="select_all"/> &nbsp;Select</th>
										
										
									</tr>
								</thead>
								<tbody>
									<tr role="row" class="odd">
										<td class="" ></td>
										<td class="" ></td>
									    <td class="" ></td>
										<td class="" ></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div><!-- panel body  -->
					
			</div>
		</div>
 
<!-- contact -->

    <!-- Footer -->
<script src="sbi/resources/js/jquery-latest.min.js" th:src="@{/resources/js/jquery-latest.min.js}"></script>
<script src="sbi/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script> 

<script src="sbi/resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
<script src="sbi/resources/js/register.js" th:src="@{/resources/js/register.js}"></script>
</body>

</html>
