<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quisk</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="../../../resources/images/favicon.ico" rel="icon" media="screen" th:href="@{/resources/images/favicon.ico}"/>
   <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
   <link href="../../../resources/css/sbi-styles.css" rel="stylesheet" media="screen" th:href="@{/resources/css/sbi-styles.css}"/>
</head>

<body id="quiskBody">

    <!-- Navigation -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 quiskloginconent">
                         <div class="col-md-6 left">
                                <div class="qusik-login-form left">
                                    <img src="/sbi/resources/images/new-sbi-lock-logo.png"  class="sbi-lock img-responsive"/>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div align="center">
                                   <img src="/sbi/resources/images/sbi-logo.png" width="240" class="img-responsive"/>
                                </div>

                                <div class="qusik-login-form">
                                        <div class="form-area">  
                                            <form role="form">
                                                    <div class="thanksform-inner">
                                                        <span>Thank you for registering.</span> <br/>An SMS with Temporary Pin has been sent to your registered mobile number. <br/>Please login to active your account.
                                                    </div>
                                                     
                                              <input type="hidden"  id="cpurl" th:value="#{register.account.for.redirect.cp}" />
                                            <button type="button" id="timer" name="submit" class="myButton pull-right">Login</button>

                                            </form>
                                        </div>
                                    </div>
                        </div>


                    </div>

                </div>
        </div>
 
<!-- contact -->

<div class="footer">
Powered by &nbsp;<img alt="" src="/sbi/resources/images/QuiskLogoSBI.png"/>
</div>

    <!-- Footer -->
<script src="sbi/resources/js/jquery-latest.min.js" th:src="@{/resources/js/jquery-latest.min.js}"></script>
<script src="sbi/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script> 

<script src="sbi/resources/js/jquery-ui.min.js" th:src="@{/resources/js/jquery-ui.min.js}"></script>
<script src="sbi/resources/js/register.js" th:src="@{/resources/js/register-success.js}"></script>
</body>

</html>
